.container {
    display: grid;
    grid-template-columns: 15% 15% 15% 40% 10%;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .active{
    -webkit-text-stroke: 1px black;
    color: rgba(210, 165, 29, 0.6);
    text-decoration-color: #282c34;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .disable {
    text-decoration: none;
    color: inherit;
  }
  